{% extends "heading.html" %}

{% block head %}
<script src="/static/utils/network.js" charset="utf-8"></script>
<script src="/static/utils/processor.js" charset="utf-8"></script>
<script src="/static/utils/spinner.js" charset="utf-8"></script>
<script src="/static/views.js" charset="utf-8"></script>
<script src="/static/commit_page_state.js"></script>
<script src="/static/radix.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.15/d3.js"></script>
{% if breadcrumbs %}
<style> body{padding-top: 125px;}</style>
{% endif %}
{% endblock %}

{% block navbar %}
{% if breadcrumbs %}
    <ol class="breadcrumb", id="breadcrumbs">
    </ol>
    <script>
var crumbs = {{breadcrumbs | tojson}};

$(document).ready(function(){
    let clearTabs = function() { $.map($('#nav-tabs').children('.active'), function(el){ $(el).removeClass('active');}) }

    // Show Commits Message
    document.getElementById("0").addEventListener('click', function() {
        clearTabs();
        spin($("#content"));
        $(this).addClass("active");
        getLog(cid, function(message){
            console.log(message);
            let msg = $("<pre></pre>", {"id": "log"}).html(message);
            $("#content").html(msg);
        });
    });

    // Show Files
    document.getElementById("1").addEventListener('click', function() {
        clearTabs();
        spin($("#content"));
        $(this).addClass("active");
        getFiles(cid, function(files) { processFiles(files, function(f) { drawFiles(f, $('#content'));})});
    });

    // Show the modules
    document.getElementById("2").addEventListener('click', function(){
        clearTabs();
        spin($("#content"));
        $(this).addClass("active");
        getModules(cid, function(mods){ processModules(mods, function(m){ drawModules(m, $('#content'))})})
    });

    // Show the authors
    document.getElementById("6").addEventListener("click", function() {
        clearTabs();
        spin($("#content"));
        $(this).addClass("active");
        getTree(cid, function(t) { getBase(t, function(base) { getAuthors(cid, function(authors) { processAuthors(base, authors, function(a) {drawAuthors(a, $('#content'))}) })}) } );
    });

    document.getElementById("0").click();

    getTree(cid, function(tree){
        getCrumbs(tree, cid, function(list){
            list.forEach(function(cv) {
                $("#breadcrumbs")
                    .append($("<li></li>")
                        .append($("<a></a>", {"href": '/commits/' + cv[0]})
                            .append(cv[1])));
            });
        })
    });
});

    </script>
{% endif %}
{% endblock %}

{% block body %}
<div class="jumbotron">
    {% if preview %}<div class="container"><h2>{{preview}}</h2></div>{% endif %}
    <div class="container-fluid container">
        <div class="panel-heading">
            <ul id="nav-tabs" class="nav nav-tabs" role="tablist">
                <li id="0" role="presentation"><a>Message</a></li>
                <li id="1" role="presentation"><a>Files</a></li>
                <li id="2" role="presentation"><a>Modules</a></li>
                <li id="6" role="presentation"><a>Authorship</a></li>
                <li id="3" role="presentation"><a>List Tree</a></li>
                <li id="4" role="presentation"><a>Bubble Tree</a></li>
                <li id="5" role="presentation"><a>Reingold Tilford Tree</a></li>
            </ul>
        </div>
        <div id="content" class="panel-body"></div>
    </div>
</div>
{% endblock %}

