<!DOCTYPE html>
<html>
	<head>

		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="author" content="Evan Wilde"/>
		<title>Linvis</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script> var cid = "{{cid}}";</script>




		<style> body {padding-top: 100px;} #cid {width: 25em; } </style>
		{% block head %}
		{% endblock %}

	</head>

	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Linvis</a>
				</div>
				<div class="pull-right">
					<div class="navbar-form">
						<a href="/search" class="btn
						btn-default"><i class="glyphicon glyphicon-search"></i> Search</a>
					</div>
				</div>

			</div>
			<div class="container container-fluid">
				{% block navbar %}
				{% endblock %}
			</div>
		</nav>

		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		{% for category, message in messages %}

		<div class="container container-fluid">
			{% if category == "danger" %}
			<div class="alert alert-danger">
				<strong>Error:</strong> {{message}}
			</div>
			{% elif category == "warning" %}
			<div class="alert alert-warning">
				<strong>Warning:</strong> {{message}}
			</div>
			{% elif category == "success" %}
			<div class="alert alert-success">
				<strong>Success:</strong> {{message}}
			</div>
			{% else %}
			<div class="alert alert-info">
				<strong>Info:</strong> {{message}}
			</div>
			{% endif %}
		</div>
		{% endfor %}
		{% endif %}
		{%endwith %}

		{% block body %}
		{% endblock %}

		<script type="text/javascript" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.9/js/dataTables.bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/keytable/2.0.0/js/dataTables.keyTable.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.0.0/js/dataTables.rowReorder.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/scroller/1.3.0/js/dataTables.scroller.min.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.9/css/dataTables.bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/keytable/2.0.0/css/keyTable.bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/1.0.7/css/responsive.bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.0.0/css/rowReorder.bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/1.3.0/css/scroller.bootstrap.min.css"/>

        {% assets filters='cssmin', output='gen/loader.min.css', 'loader.css'%}
        <link href="{{ ASSET_URL }}" rel="stylesheet">
        {% endassets %}

	</body>
</html>

